@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --branco-principal: #FFFFFF;
    --branco-secundario: #F9F9F9;
    --cor-de-fundo: #00030C;
    --cor-do-botao: #167BF7;
    --font-principal:"Inter", sans-serif;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
.principal{
    background-image: url(img/Background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: var(--font-principal);
}
.principal__conteudo{
    width: 35%;
    padding: 7.8125rem 6.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.principal__conteudo--texto{
    font-size: 1.75rem;
    font-weight: 588;
    align-self: center;
    margin-bottom: 22px;
}
.principal__conteudo--paragrafo{
    font-size: 1rem;
}
.principal__conteudo--entrelinha{
    font-size: 0.75rem;
    font-weight: 100;
}
.principal__conteudo--img{
    width: 21.75rem;
    height: auto;
}
.principal__conteudo--botao1{
    margin-top: 3.375rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 32rem;
    text-decoration: none;
    color: var(--branco-principal);
    border: solid 1px var(--cor-do-botao);
    background-color: var(--cor-do-botao);
    border-radius: 8px;
    text-align: center;
}
.principal__conteudo--botao2{
    margin-bottom: 10px;
    padding: 1rem;
    width: 32rem;
    text-decoration: none;
    color: var(--branco-principal);
    border: solid 1px var(--branco-principal);
    border-radius: 8px;
    text-align: center;
}
.secundaria{
    height: 100vh;
    font-family: var(--font-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.3125rem;
}
.secundaria__conteudo{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.5rem;
}
.secundaria__conteudo--texto{
    font-size: 3rem;
    font-weight: 588;
}
.secundaria__conteudo--paragrafo{
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4;
}
.parte3{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.375rem;
}
.parte3__conteudo{
    display: flex;
    flex-direction: column;
    font-family: var(--font-principal);
    line-height: 1.4;
    width: 40%;
    gap: 1rem;
}
.parte3__conteudo--botao{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--branco-principal);
    border: solid 1px var(--cor-do-botao);
    background-color: var(--cor-do-botao);
    border-radius: 8px;
    font-weight: 200;
    width: 162px;
    height: 56px;
}
.parte4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
}
.parte4__conteudo{
    font-family: var(--font-principal);
    display:flex;
    flex-direction: column;
    width: 36%;
    gap: 8px;
}
.parte4__conteudo--texto{
    font-size: 3rem;
    font-weight: 588;
}
.parte4__conteudo--paragrafo{
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4
}
.parte5{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-principal);
}
.parte5__conteudo{
    font-weight: 600;
    font-size: 48px;
    align-self: center;
}
.parte5__imagens{
    display: flex;
    justify-content: space-evenly;
    margin-top:40px;
    margin-bottom: 1rem;
}
.parte5__paragrafo{
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    gap: 200px;
    margin-left: 275px;
}
.parte5__paragrafo--pc{
    margin-left:140px ;
}
.parte5__paragrafo--celular{
    margin-left: 20px;
}
