@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --branco-principal: #FFFFFF;
    --branco-secundario: #F9F9F9;
    --cor-de-fundo: #00030C;
    --cor-do-botao: #167BF7;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
.principal{
    background-image: url(img/Background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
}
.principal__conteudo{
    width: 35%;
    padding: 7.8125rem 6.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:2rem;
}
.principal__conteudo--texto{
    font-size: 1.75rem;
    font-weight: 588;
    align-self: center;
}
.principal__conteudo--paragrafo{
    font-size: 1rem;
}
.principal__conteudo--entrelinha{
    font-size: 0.75rem;
}
.principal__conteudo--img{
    width: 21.75rem;
    height: auto;
}
.principal__conteudo--botao1{
    padding: 1rem;
    width: 32rem;
    text-decoration: none;
    color: var(--branco-principal);
    border: solid 1px var(--cor-do-botao);
    background-color: var(--cor-do-botao);
    border-radius: 8px;
    text-align: center;
}
.principal__conteudo--botao2{
    padding: 1rem;
    width: 32rem;
    text-decoration: none;
    color: var(--branco-principal);
    border: solid 1px var(--branco-principal);
    border-radius: 8px;
    text-align: center;
}
.secundaria{
    height: 100vh;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.3125rem;
}
.secundaria__conteudo{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.5rem;
}
.secundaria__conteudo--texto{
    font-size: 3rem;
    font-weight: 588;
}
.secundaria__conteudo--paragrafo{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 25px;
}
